<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard" routerLink="/dashboard" routerDirection="back" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/publicProfile">
      <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <section class="profileInfo">
    <ion-avatar>
      <img [src]="photoURL || 'https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg' " (click)="expandPhoto()" alt="Avatar">
    </ion-avatar>
    <ion-label>

      <h1>{{ displayName }}</h1>

      <div class="metaInfo">
        <div class="posts">
          <p style="font-weight: bold;">{{ publicaciones }}</p>
          <p>Publicaciones</p>
        </div>
        <div class="followsBy">
          <p style="font-weight: bold;">{{ seguidores }}</p>
          <p>Seguidores</p>
        </div>
        <div class="follows">
          <p style="font-weight: bold;">{{ seguidos }}</p>
          <p>Seguidos</p>
        </div>
      </div>

    </ion-label>
  </section>

  <section class="postsInfo">

  </section>

  <section class="peopleInfo">
    
  </section>

</ion-content>