<ion-header>
  <ion-toolbar>
    <ion-title>Cuenta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings" routerLink="/settings" routerDirection="back" text="Volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>

    <section class="userInfo">
      <ion-avatar>
        <img src="https://www.gravatar.com/avatar?d=identicon" alt="Avatar">
      </ion-avatar>
      <ion-label>
        <h1>{{ displayName }}</h1>
        <p>{{ email }}</p>
      </ion-label>
    </section>

    <ion-list>

      <ion-item (click)="changeDisplayName()">
        <ion-label>Cambiar nombre de usuario</ion-label>
      </ion-item>

      <ion-item (click)="changeEmail()">
        <ion-label>Cambiar correo electronico</ion-label>
      </ion-item>

      <ion-item (click)="changePassword()">
        <ion-label>Cambiar contraseña</ion-label>
      </ion-item>

      <ion-item (click)="deleteAccount()">
        <ion-label><span style="color: red;">Eliminar cuenta</span></ion-label>
      </ion-item>

      <ion-item (click)="logout()">
        <ion-label><span style="color: red;">Cerrar sesión</span></ion-label>
      </ion-item>
      

    </ion-list>

  </section>
</ion-content>