<ion-header>
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- Cambiar Modo Oscuro/Claro -->
    <ion-item>
      <ion-label>Modo Oscuro</ion-label>
      <ion-toggle slot="end" (ionChange)="toggleDarkMode($event)"></ion-toggle>
    </ion-item>

    <ion-item button (click)="actudata()">
      <ion-label>Actualización de datos</ion-label>
    </ion-item>

    <!-- Cerrar Sesión -->
    <ion-item button (click)="volver()">
      <ion-label>volver</ion-label>
    </ion-item>

    <ion-item button (click)="logout()">
      <ion-label>Cerrar Sesión</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
