<ion-header>
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard" routerLink="/dashboard" routerDirection="back" text="Volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="info">
    Aca podras configurar todos los aspectos de StepMeter, desde tu cuenta hasta la seguridad de tus datos.
  </section>

  <ion-list>

    <ion-item routerLink="/account">
      <ion-label>Cuenta</ion-label>
    </ion-item>

    <ion-item routerLink="/notifications">
      <ion-label>Notificaciones</ion-label>
    </ion-item>

    <ion-item disabled routerLink="/pref-use">
      <ion-label>Preferencias de uso <span style="color: red;">(proximamente)</span></ion-label>
    </ion-item>

    <ion-item disabled routerLink="/perms">
      <ion-label>Permisos <span style="color: red;">(proximamente)</span></ion-label>
    </ion-item>

    <ion-item disabled routerLink="/security">
      <ion-label>Seguridad <span style="color: red;">(proximamente)</span></ion-label>
    </ion-item>
    
    <ion-item disabled routerLink="/data">
      <ion-label>Datos <span style="color: red;">(proximamente)</span></ion-label>
    </ion-item>

    <ion-item disabled routerLink="/general-info">
      <ion-label>Información general <span style="color: red;">(proximamente)</span></ion-label>
    </ion-item>

  </ion-list>
</ion-content>
