<ion-content [fullscreen]="true">
  <div class="container">

    <!-- Seccion de iniciar sesion -->

    <section class="login">
    
      <div class="form-space">
        <h1>StepMeter</h1>
        <form (submit)="formAccess()">
          
          <span>Correo electroníco</span>
          <ion-input
          class="custom"
          type="email"
          name="email"
          autocomplete="email"
          autocorrect="off"
          inputmode="email"
          required="true"
          mode="ios"

          [(ngModel)]="email"
          ></ion-input>

          <span>Contraseña</span>
          <ion-input
          class="custom"
          type="password"
          name="password"
          autocomplete="current-password"
          autocorrect="off"
          inputmode="text"
          required
          mode="ios"

          [(ngModel)]="password"
          > 
            <ion-input-password-toggle slot="end" color="light" mode="ios"></ion-input-password-toggle>
          </ion-input>

          <a class="forgot-pass" routerLink="/recovery">¿Olvidaste tu contraseña?</a>
          <ion-button 
          id="open-loading"
          type="submit"
          expand="block"
          color="light"
          mode="ios"
          >
          Iniciar sesión
          </ion-button>
        </form>

        <div class="separator">
          <hr>
          <span>O</span>
          <hr>
        </div>

        <div class="register">
          <p>¿No tienes cuenta? <br> <a routerLink="/registration">Registrate.</a></p>
        </div>

      </div>

    </section>

  </div>
</ion-content>