<ion-content [fullscreen]="true">
  <div class="container">

    <!-- Seccion de iniciar sesion -->

    <section class="register">
    
      <div class="form-space">
        <h1>Registrate</h1>
        <form (submit)="formAccess()">
          
          <span class="inputTitle">Nombre de usuario</span>
          <ion-input
          class="custom"
          type="text"
          name="username"
          autocorrect="off"
          inputmode="text"
          color="light"
          required
          mode="ios"

          [(ngModel)]="username"
          ></ion-input>

          <span class="inputTitle">Correo electroníco</span>
          <ion-input
          class="custom"
          type="email"
          name="email"
          autocomplete="email"
          autocorrect="off"
          inputmode="email"
          color="light"
          required
          mode="ios"

          [(ngModel)]="email"
          ></ion-input>

          <span class="inputTitle">Contraseña</span>
          <ion-input
          class="custom"
          type="password"
          name="password"
          autocorrect="off"
          inputmode="text"
          color="light"
          required
          mode="ios"

          [(ngModel)]="password"
          > 
          </ion-input>

          <ion-button 
          id="open-loading"
          type="submit"
          expand="block"
          color="light"
          mode="ios"
          >
          Crear cuenta
          </ion-button>
        </form>

        <span class="haveAccount">Ya tienes una cuenta? <br>
          <a routerLink="/login" routerDirection="back">inicia sesion.</a>
        </span>

      </div>

    </section>

  </div>
</ion-content>