<ion-content [fullscreen]="true">
  <div class="container">

    <!-- Seccion de iniciar sesion -->

    <section class="register">
    
      <div class="form-space">
        <h1>Registrate</h1>
        <h2>¡Bienvenido! Por favor, ingresa tus datos para registrarte.</h2>
        <form (submit)="formAccess()">
          
          <span>Nombre de usuario</span>
          <ion-input
          class="custom"
          type="text"
          name="name"
          autocorrect="off"
          inputmode="text"
          color="light"
          required
          mode="ios"

          [(ngModel)]="name"
          ></ion-input>

          <span>Correo electroníco</span>
          <ion-input
          class="custom"
          type="email"
          name="email"
          autocomplete="email"
          autocorrect="off"
          inputmode="email"
          color="light"
          required
          mode="ios"

          [(ngModel)]="email"
          ></ion-input>

          <span>Contraseña</span>
          <ion-input
          class="custom"
          type="password"
          name="password"
          autocomplete="current-password"
          autocorrect="off"
          inputmode="text"
          color="light"
          required
          mode="ios"

          [(ngModel)]="password"
          > 
          </ion-input>

          <span><!-- Error messages --></span>

          <ion-button 
          id="open-loading"
          type="submit"
          expand="block"
          color="light"
          mode="ios"
          >
          Registrarse
          </ion-button>
        </form>

        <div class="separator">
          <hr>
          <span>O</span>
          <hr>
        </div>

      </div>

    </section>

  </div>
</ion-content>