<ion-header>
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard" routerLink="/dashboard" routerDirection="back" text="Volver"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label>Cuenta</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Notificaciones</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Preferencias de uso</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Permisos</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Seguridad</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>Datos</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Información general</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
