.custom-menu-button {
    --background: transparent;
    --color: red; /* Cambia 'red' por el color que desees */
  }

.profileInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profileInfo ion-avatar {
    width: 64px;
    height: 64px;
}

.profileInfo ion-label {
    margin-top: 20px;
}

.profileInfo ion-label p {
    color: black;
    font-size: 20px;
    font-weight: 200;
}

.logoutIcon {
    color: red;
}

// Navbar css