<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>StepMeter</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    
    <section class="userInfo">
      <ion-avatar>
        <img [src]="photoURL || 'https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg' " alt="Avatar">
      </ion-avatar>
      <ion-label>
        <h1>{{ displayName }}</h1>
        <p>{{ email }}</p>
      </ion-label>
    </section>

    <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item routerLink="/dashboard">
          <ion-icon slot="start" name="home"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item routerLink="/profile">
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="true">
        <ion-item routerLink="/settings">
          <ion-icon slot="start" name="settings"></ion-icon>
          <ion-label>Configuración</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="true">
        <ion-item (click)="logout()">
          <ion-icon slot="start" name="log-out-outline" color="danger"></ion-icon>
          <ion-label color="danger">Cerrar sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>
      
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle auto-hide="true">
        <ion-menu-button></ion-menu-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <app-map></app-map>
</ion-content>